#script(src='/javascript/lib/ramdas.min.js')
#script(src='/javascript/lib/jquery.min.js')
#script(src='/javascript/lib/bootstrap.min.js')
#script(src='/javascript/lib/Chart.bundle.min.js')
#script(src="/javascript/temperatureChart.js")
#script(src='/javascript/targetslider.js')
script(src='bundle.js')