doctype html
html
  include includes/head.pug
  body
    div(class="container-fluid theme-showcase")
      div(class="jumbotron")
        h1 Blub de thermostaat
      div#root
        p React stuff comes here

    include includes/footer.pug